<div class="row">
    {% for post in posts %}
        {% if forloop.counter0|divisibleby:2 %}
        <div class="col-lg-6">
        {% endif %}

            <div class="card mb-4">
                <a href="#!">
                    <img class="card-img-top" src="{{ post.image.url|default:'https://dummyimage.com/700x350/dee2e6/6c757d.jpg' }}" alt="{{ post.post_title }}" />
                </a>
                <div class="card-body">
                    <div class="small text-muted">{{ post.create_date|date:"F j, Y" }}</div>
                    <h2 class="card-title h4">{{ post.post_title }}</h2>
                    <p class="card-text">{{ post.description|truncatewords:20 }}</p>
                    <a class="btn btn-primary" href="#!">Read more →</a>
                </div>
            </div>

        {% if forloop.counter0|divisibleby:2 and not forloop.last and forloop.counter != posts|length %}
        <!-- Do nothing here -->
        {% elif forloop.counter|divisibleby:2 or forloop.last %}
        </div>
        {% endif %}
    {% endfor %}
</div>
